


<div>
<form class="form-horizontal alert alert-warning" name="empList" id="empForm" >
  <h3 class="text-center">Insert Home  Into Database</h3>

  <div class="form-group">
    <label >Home Taille:</label>
    <input type="text" name="emp_name" class="form-control" placeholder="Enter Home nbr_piece" ng-model="home.taille" autofocus required />
  </div>
  <p></p>
  <div class="form-group">
<label >Home Nombre_Piece:</label>
  <input type="text" name="emp_name" class="form-control" placeholder="Enter Home nbr_piece" ng-model="home.nbrpiece" autofocus required />
</div>
  <p></p>

  <div class="form-group">
    <button class="btn btn-warning" >Add Into Database</button>
  </div>
</form>

</div>









